-
	var
		html_class = "wide wow-animation",
		fonts = "//fonts.googleapis.com/css?family=Roboto:100,300,300i,400,700,900",
		subscribeFormCounter = 0,
		logo = {
			default: 'logo-200x45',
			inverse: 'logo-105x51',
			inverseBig: 'logo-inverse-145x39',
			white: 'logo-105x51',
			name: 'Bank Progress'
		},
		links = {
			post: 'blog-post.html',
			getTemplate:'#get-template'
		},
		colors = {
			primary: '#fff',
			secondary: '#1E90FF'
		},
		menu = [
			{
				title: 'Home',
				category: 'home', 
				link: 'index.html'
			},
			{
				title: 'About',
				category: 'about',
				dropdown: [
					{
						title: 'Pricing',
						link: 'pricing.html'
					},
					{
						title: 'Our team',
						link: 'our-team.html'
					},
					{
						title: 'Single job',
						link: 'single-job.html'
					}
				]
			},
			{
				title: 'Services',
				category: 'services',
				link: 'services.html',
				dropdown: [
					{
						title: 'Single service',
						link: 'single-service.html'
					}
				]
			},
			{
			title: 'Blog',
				category: 'blog',
				link: 'classic-blog.html',
				dropdown: [
					{ title: 'Single post' }
				]
			},
			{
				title: 'Pages',
				category: 'pages',
				link: '#',
				dropdown: [
					{ title: '404 Page', link: '404.html' },
					{ title: '503 Page', link: '503.html' },
					{ title: 'Coming soon' },
					{ title: 'Login/Registration', link: 'login.html' },
					{ title: 'Privacy policy' },
					{ title: 'Search results' }
					]
			},
			{
				title: 'Contacts',
				category: 'contacts'
			}
		];
